@font-face {
    font-family: Helvetica; /* Имя шрифта */
    src: url(../fonts/helvetica.ttf); /* Путь к файлу со шрифтом */
}
#img_out_1, #img_out_2, canvas{
    display: none;
}
.clear{
    clear: both;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-family: Helvetica;
}
#layouts{

    background: #efefef;
    padding: 15px;
}
div[id^=layout-]{
    border: 3px solid #fff;
    border-radius: 20px;
    border-top-left-radius: 10px;
    position: relative;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px 1px #666;
    width: 500px;
    margin-bottom: 15px;

    -webkit-transition: ease .4s;-moz-transition: ease .4s;-ms-transition: ease .4s;-o-transition: ease .4s;transition: ease .4s;
}
div[id^=layout-]:hover{
    -webkit-transition: ease .4s;-moz-transition: ease .4s;-ms-transition: ease .4s;-o-transition: ease .4s;transition: ease .4s;
    box-shadow: 2px 2px 8px 4px #666;
    -webkit-box-shadow: 2px 2px 8px 4px #666;
}
div[id^=layout-]:last-child{
    margin-bottom: 0;
}
div[id^=layout-] figure{
     width: 350px;
 }
div[id^=layout-] img{
    max-width: 350px;
    max-height: 350px;
}
.delete_layout{
    position: absolute;
    top: -13px;
    left: -13px;
    width: 30px;
    height: 30px;
    border: 3px solid #fff;
    border-radius: 50%;
    background: #efefef;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}
.container{
    width: 1080px;
    margin: 0 auto;
}
/*+++++++++++++++++++++++++++++++++++ header ++++++++++++++++++++++++++++++++++++++*/
header{
    background: #353535; /* Old browsers */
    background: -moz-linear-gradient(top,  #353535 0%, #121111 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#121111)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #353535 0%,#121111 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #353535 0%,#121111 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #353535 0%,#121111 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #353535 0%,#121111 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#121111',GradientType=0 ); /* IE6-9 */
}
.site_size {
    margin: 0 auto;
    width: 1080px;
}
.hTop {
    font-size: 0;
    height: 76px;
    position: relative;
    text-align: center;
    z-index: 3;
}
.logoBlock {
    display: block;
    float: left;
}
.logoBlock img{
    height: 60px;
}

.hTop_right {
    float: right;
    padding: 0 10px;
    background: #179ec4;
    box-shadow: inset 0 -2px 12px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 -2px 12px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 -2px 12px 0 rgba(0,0,0,0.5);
    -o-box-shadow: inset 0 -2px 12px 0 rgba(0,0,0,0.5);
    -ms-box-shadow: inset 0 -2px 12px 0 rgba(0,0,0,0.5);

    transition: ease all .5s;
    -moz-transition: ease all .5s;
    -o-transition: ease all .5s;
    -webkik-transition: ease all .5s;
    -ms-transition: ease all .5s;
}
.hTop_right:hover{
    background: #137996;

    transition: ease all .5s;
    -moz-transition: ease all .5s;
    -o-transition: ease all .5s;
    -webkik-transition: ease all .5s;
    -ms-transition: ease all .5s;
}
.hTop_right a{
    display: block;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    background: url("../images/basket.png") center 10px no-repeat;
    padding: 46px 0 14px 0
}
.hTop_right a strong{
    color: #c2e207;
    font-weight: bold;
}
.hTop_right a strong.empty{
    color: #f00;
}
.hTop_center {
    background: url("images/ramka.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 100px;
    padding: 0 230px 0 120px;
    vertical-align: top;
}
.login {
    float: right;
}
.login p{
    font-size: 18px;
    color:#fff;
    text-decoration: none;
}
.login #auth{
    font-size: 12px;
    text-decoration: none;
    background: url("../images/zamok.png") 0 -30px no-repeat;
    display: inline-block;
    padding: 13px 0 7px 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #B0ADAD;

    transition: ease color .5s;
    -moz-transition: ease color .5s;
    -o-transition: ease color .5s;
    -webkik-transition: ease color .5s;
    -ms-transition: ease color .5s;
}
.login #auth:hover{
    background: url("../images/zamok.png") 0 2px no-repeat;
    color: #717171;

    transition: ease color .5s;
    -moz-transition: ease color .5s;
    -o-transition: ease color .5s;
    -webkik-transition: ease color .5s;
    -ms-transition: ease color .5s;
}
.login p a{
    font-size: 15px;
    padding: 10px 0;
    text-decoration: none;
}
.login p>a{
    background: url("../images/zamok.png") 0 4px no-repeat;
    padding: 13px 0 7px 25px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #B0ADAD;
}
.login p>a:hover{
    background: url("../images/zamok.png") 0 -32px no-repeat;
}
.login p strong a{
    background: url("../images/user.png") 0 4px no-repeat;
    display: inline-block;
    padding-left: 30px;
}
.login p strong a:hover{
    background: url("../images/user.png") 0 -30px no-repeat;
}

/***** login window  *******/
#login{
    position: absolute;
    top: 45%;
    left: 52%;
    z-index: 99999;
    background: #EFEFEF;
    height: 240px;
    width: 280px;
    margin-top: -100px;
    margin-left: -175px;
    text-align: center;
    display: none;
}
.auth_header{
    text-align: left;
    background: #0092ef;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.auth_header:after {
    display: block;
    content: '';
    clear: both;
}
#login h3{
    padding: 10px 15px;
    float: left;
}
#login form{
    width: 180px;
    margin: 30px auto 15px;
    text-align: center;
}
#login form input[type=text], #login form input[type=password]{
    width: 180px;
    height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    color: #5E5858;
}
#login form input[type=submit]{
    background: #0092ef;
    border: 0;
    height: 33px;
    width: 100px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #fff;

    transition: ease all .3s;
    -moz-transition: ease all .3s;
    -o-transition: ease all .3s;
    -webkik-transition: ease all .3s;
    -ms-transition: ease all .3s;
}
#login form input[type=submit]:hover{
    box-shadow: 4px 3px 6px -1px rgba(50, 50, 50, 0.70);
    -webkit-box-shadow: 4px 3px 6px -1px rgba(50, 50, 50, 0.70);
    -o-box-shadow: 4px 3px 6px -1px rgba(50, 50, 50, 0.70);
    -moz-box-shadow: 4px 3px 6px -1px rgba(50, 50, 50, 0.70);
    -ms-box-shadow: 4px 3px 6px -1px rgba(50, 50, 50, 0.70);

    transition: ease all .3s;
    -moz-transition: ease all .3s;
    -o-transition: ease all .3s;
    -webkik-transition: ease all .3s;
    -ms-transition: ease all .3s;
}
#login a{
    font-size: 11px;
    text-decoration: none;
    color: #000;
    margin-right: 5px;
}
#login a:last-child{
    margin: 0;
}
#login #close{
    cursor: pointer;
    font-size: 18px;
    float: right;
    background: #EA2E2E;
    padding: 10px 15px;
    text-align: center;
    /* margin: 0; */
    color: #fff;
}
/**************************/

.header_b{
    background: #f6f6f6;
}
.header_b address{
    float: left;
    font-size: 15px;
}
.header_b address span{
    background: url("../images/phone.png") 0 4px no-repeat;
    padding: 10px 20px;
    display: inline-block;
}

.social{
    float: left;
    margin-left: 130px;
}
.social ul li{
    display: inline-block;
    margin: 2px 0 0 10px;
}
.social ul li a{
    display: block;
}
.social ul li a img{
    transition: ease all .3s;
    -moz-transition: ease all .3s;
    -o-transition: ease all .3s;
    -webkik-transition: ease all .3s;
    -ms-transition: ease all .3s;
}
.social ul li a:hover img{
    border-radius: 15px;

    transition: ease all .3s;
    -moz-transition: ease all .3s;
    -o-transition: ease all .3s;
    -webkik-transition: ease all .3s;
    -ms-transition: ease all .3s;
}

/*+++++++++++++++++++++++++++++++++++ menu ++++++++++++++++++++++++++++++++++++++*/
.slider{
    position: relative;
    border: 6px solid #179ec4;
}
.slider .bx-pager{
    position: absolute;
    bottom: 5%;
    left: 47%;
    z-index: 60;
}
.slider .bx-pager .bx-pager-item{
    display: inline-block;
}
.slider .bx-pager .bx-pager-item a{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;

    width: 13px;
    height: 13px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 0 #ffffff, 0 1px 1px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 1px 0 #ffffff, 0 1px 1px rgba(0, 0, 0, 0.3) inset;
    -o-box-shadow: 0 1px 0 #ffffff, 0 1px 1px rgba(0, 0, 0, 0.3) inset;
    -ms-box-shadow: 0 1px 0 #ffffff, 0 1px 1px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 1px 0 #ffffff, 0 1px 1px rgba(0, 0, 0, 0.3) inset;
    background-color: #ededed;
    cursor: pointer;
    margin: 10px;
}
.slider .bx-pager .bx-pager-item a.active{
    background: #bb16a6;
}
.slider .bx-caption{
    position: absolute;
    top: 0;
    left: 72px;
    width: 275px;
    background: rgba(23,158,196,0.7);
    height: 200px;
    padding: 15px;
    font-size: 13px;
}
.slider #slider li a{
    display: block;
    position: absolute;
    top: 47%;
    left: 10%;
    width: 206px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: url('../images/main-btns.png');
    color: #fff;
    z-index: 1;
    text-decoration: none;
}

/*+++++++++++++++++++++++++++++++++++ menu ++++++++++++++++++++++++++++++++++++++*/
.mainMenu{
    float: left;
}
#navigation {
    height: 75px;
    margin: 0 auto;
    padding: 0;
    width: 695px;
}

/*ul.nav-main,
ul.nav-main li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.nav-main {
    position: relative;
    z-index: 597;
}

ul.nav-main li:hover > ul {
    visibility: visible;
}


ul.nav-main li.hover,
ul.nav-main li:hover {
    position: relative;
    z-index: 599;
    cursor: pointer;
    background: url(images/dropdown-bg-hover.gif) repeat-x left top;
}*/



ul.nav-main li {
    display:inline-block;

    transition: ease all .3s;
    -moz-transition: ease all .3s;
    -o-transition: ease all .3s;
    -webkik-transition: ease all .3s;
    -ms-transition: ease all .3s;
}

ul.nav-main li:hover {
    background: #464646;

    transition: ease all .3s;
    -moz-transition: ease all .3s;
    -o-transition: ease all .3s;
    -webkik-transition: ease all .3s;
    -ms-transition: ease all .3s;
}
ul.nav-main li.active{
    background: #d80c8c;

    box-shadow: inset 0 -2px 12px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 -2px 12px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 -2px 12px 0 rgba(0,0,0,0.5);
    -o-box-shadow: inset 0 -2px 12px 0 rgba(0,0,0,0.5);
    -ms-box-shadow: inset 0 -2px 12px 0 rgba(0,0,0,0.5);
}

ul.nav-main li a {
    color: #fff;
    font-weight: bold;
    display:block;
    padding: 31px 10px;
    font-size: 14px;
    text-decoration:none;
    text-transform: uppercase;

    transition: ease all .5s;
    -moz-transition: ease all .5s;
    -o-transition: ease all .5s;
    -webkik-transition: ease all .5s;
    -ms-transition: ease all .5s;
}

ul.nav-main li a:hover {
    text-shadow: 1px 0 1px #000000;

    transition: ease all .5s;
    -moz-transition: ease all .5s;
    -o-transition: ease all .5s;
    -webkik-transition: ease all .5s;
    -ms-transition: ease all .5s;
}
ul.nav-main li.active a{
    color: #fff;
}



ul.nav-main *.list {
    padding-right: 22px;
    background: url(images/navigation-arrow.gif) no-repeat right top;
}



ul.nav-sub {
    visibility: hidden;
    position: absolute;
    padding:10px;
    top: 48px;
    left: 0;
    z-index: 598;
    background: #353535 url(images/dropdown-list-bg.gif) repeat-x left top;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}


ul.nav-sub li {
    list-style:none;
    display:block;
    padding: 0;
    height: 27px;
    float: none;
    width:145px;
    border-bottom: 1px solid #5a5a5a;
    background: none;
}

ul.nav-sub li a {
    list-style:none;
    display:block;
    padding: 6px 5px 6px 5px;
    height: 15px;
    float: none;
    width:145px;
    background: none;
    font: 12px Arial, Helvetica, sans-serif;
}
/*+++++++++++++++++++++++++++++++++++ services ++++++++++++++++++++++++++++++++++++++*/
.services {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}
.service_info {
    background: none repeat scroll 0 0 rgba(221, 221, 221, 0.75);
    bottom: -90px;
    height: 180px;
    left: 0;
    position: absolute;
    transition: bottom 0.4s ease 0s;
    width: 350px;
}
.inlineBlock{
    display: inline-block;
    height: 310px;
    margin: 5px 11px 0 0;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 350px;
}
.inlineBlock:nth-child(3n){
    margin: 5px 0 0 0 ;
}
.service_block img{
    height: 350px;
    width: 350px;
}
.service_info_top {
    display: block;
    height: 90px;
    line-height: 71px;
    padding: 10px 20px;
    position: relative;
    text-align: left;
    text-decoration: none !important;
    width: 350px;
}
.inlineBlock:hover .service_info{
    bottom: 0;
}
.like-h5{
    color: #000;
    display: inline-block;
    font-size: 26px;
    line-height: 35px;
    vertical-align: middle;
    width: 160px;
}
.service_price {
    position: absolute;
    right: 50px;
    text-align: justify;
    top: 10px;
}
.service_price div p {
    color: #000;
    font-size: 13px;
    font-style: italic;
    line-height: 16px;
    padding-right: 3px;
}
.service_price div p + p {
    color: #2561cc;
}
.service_price div + div {
    border-top: 1px dotted #2561cc;
    margin-top: 4px;
    padding-top: 4px;
}
.service_info_bot {
    border-top: 1px solid #a7a7a7;
    padding: 12px 0 0;
    text-align: center;
}
/*+++++++++++++++++++++++++++++++++++ page_text!!!! ++++++++++++++++++++++++++++++++++++++*/
.page_text{
    font-size: 12px;
}
.page_text p, .page_text ul, .page_text ol{
    margin-bottom: 5px;
}
.page_text p:last-child, .page_text ul:last-child, .page_text ol:last-child{
    margin-bottom: 0;
}
/*+++++++++++++++++++++++++++++++++++ BIG BUTTONS!!!! ++++++++++++++++++++++++++++++++++++++*/
.bigButtonsMenu {
    margin: 35px auto;
    position: relative;
    width: 1080px;
    font-size: 0;
    text-align: center;
    height: 140px;
}
.bBtn {
    font-size: 0;
    height: 100%;
}
.bBtn li{
    display: inline-block;
    position: absolute;
    vertical-align: top;
    width: 384px;
    height: 93px;
}
.bBtn li:nth-child(1) {
    background: url("../images/bbtn_b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 0;
}
.bBtn li:nth-child(2){
    background: url("../images/bbtn_g.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 348px;
    top: 49px;
}
.bBtn li:nth-child(3){
    background: url("../images/bbtn_r.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 698px;
    height: 96px;
    width: 382px;
}
.bBtn a {
    color: #fff;
    display: block;
    font-size: 28px;
    height: 90px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
}


/*+++++++++++++++++++++++++++++++++++ ADD BACK SIDE FOR TEMPLATE ++++++++++++++++++++++++++++++++++++++*/
.type_tmpl_block{
    display: none;
}

#add_bside_window_bg{
    display: none;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9999;
}
#add_bside_window_wrapper{
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: relative;
}
#add_bside_window{
    background: #EFEFEF;
    width: 1015px;
    height: 550px;
    display: none;
    z-index: 99999;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -507px;
    margin-top: -300px;
}
.window_header{
    text-align: left;
    background: #0092ef;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.window_header h4{
    padding: 10px 15px;

    float: left;
}
#close_bside_window{
    cursor: pointer;
    font-size: 18px;
    float: right;
    background: #EA2E2E;
    padding: 10px 15px;
    text-align: center;
    /* margin: 0; */
    color: #fff;
}
#close_bside_window:hover{
    background: #ea1900;
}
.window_header:after{
    display: block;
    content: '';
    clear: both;
}
#window_body{
    background: url("../images/LoadingWheel.gif") no-repeat center center #ccc;
    height: 515px;
    text-align: left;
    overflow-y: auto;
    padding: 13px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;

}
#window_body .servicesBlock_group{
    margin: 0 10px 10px 0;
}
#window_body .servicesBlock_group:nth-child(3n){
    margin-right: 0;
}


#loading-editor{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../images/LoadingWheel.gif") no-repeat center center rgba(63, 63, 63, 0.98);
    z-index: 9999;
}
/*-------------------------------------- ADD BACK SIDE FOR TEMPLATE ------------------------------------*/


/*++++++++++++++++++++++++++++++++++++++++ STEP 2 PREVIEW  ++++++++++++++++++++++++++++++++++++++++++++++*/
.preview{
    width: 400px;
    height: 280px;
    position: relative;
}
.preview figure{
    width: 400px;
    height: 280px;
    display: block;
}
.preview img{
    max-width: 400px;
    max-height: 280px;

}

.front{
    transition: all .5s;
    position: absolute;
}
.back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: all .5s;
    padding: 0;
    text-align: left;
    opacity: 0;
    position: absolute;
}

#previews.flip .front{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#previews.flip .back{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
}

/*---------------------------------------- STEP 2 PREVIEW  ----------------------------------------------*/





/*=============================================||| INDEX |||========================================================*/

/*---------------------------------------------||| INDEX |||--------------------------------------------------------*/